{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es2022": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "@serverless/eslint-config/node"
  ],
  "rules": {
    "strict": ["error", "never"],
    "no-var": "error",
    "import/prefer-default-export": "off"
  }
}
